*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  /* color:white; */
  background: linear-gradient(45deg, rgba(131,130,127,1) 13%, rgba(150,148,142,1) 100%);
  height:100vh
}
table{
  width: fit-content;
  border-collapse: collapse;
  margin: 30px auto;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 4px 4px 6px 1px rgba(0 0 0 / 0.5);
}
table tr {
  border: none;
  border-radius: 50px;
}
table td{
  border:1px solid black;
  padding:10px 45px;
  text-align: center;
  background-color: rgb(90, 90, 90);
  color:white;
  border: none;
}
h1, h3{
  text-align: center;
  margin:10px;
  font-size: 4.5rem;
}

button{
  cursor: pointer;
  display: block;
  margin:10px auto;
  padding:6px 15px;
  background-color:lightcoral;
  border: none;
  outline: none;
  border-radius:8px;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px rgba(0 0 0 / 0.5);
}
button:active{
  box-shadow: inset 2px 2px 5px 1px rgba(0 0 0 / 0.3);

}